body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(-20deg, #dfcdfa 0%, #e28fec 100%)
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-board{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 800px;
    height: 590px;
    border-radius: 50px;
    gap:10px;
    cursor: pointer;
}

.game-field{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid  rgb(233, 115, 188);
    background-color: rgb(248, 171, 219);
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;


}

.game-field:hover{
    background-color:rgb(233, 115, 188);;
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);

}
#start-memory{
    background-image: linear-gradient(-20deg, #906cc7 0%, #d947e9 100%);
    outline: none;
    border-color: #906cc7;
    height: 30px;
    width: 300px;
    border-radius: 30px;
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
   
}

.score{
    position: absolute;
    left:0;
    border:3px solid #906cc7; 
    margin-left: -60px;
    width: 80px;
    height: 80px;
    background-color: #d947e9;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    text-align: end;
}


.memory-modal{
    display: none;
    position: absolute;
    border: 5px double purple;
    background-image: linear-gradient(-20deg, #d5bff5 0%, #c924db 100%);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 300px;
    width: 500px;
 
}
.memory-modal-content{

    font-size: 40px;
    font-weight: bold;
    color: rgb(56, 6, 56);
}


#menu-button, #play-again-button {
    background-image: linear-gradient(-20deg, #906cc7 0%, #d947e9 100%);
    outline: none;
    border-color: #906cc7;
    height: 30px;
    width: 300px;
    border-radius: 30px;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
}


@media(max-width: 955px){
    .game-board{
      
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 600px;
    }
    .score{
        width: 65px;
        height: 80px;
        left:0;
        bottom: 0;
}

    


}

@media(max-width:610px){
    .game-board{
      
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(10, 1fr);
        width: 400px;
    }

    .memory-modal-content{

        font-size: 30px;
        
    }

    #menu-button, #play-again-button {
        
        width: 200px;
      
    }


}

@media(max-width:570px){
    .memory-modal{
        height: 200px;
        width: 250px;
     
    }
}

@media(max-width:410px){
    .game-board{
      
        
        width: 350px;
    }
   

}

@media(max-height:740px ){
    
    .score{
        width: 50px;
        height: 40px;
        font-size: 20px;
    }
   

}



















