

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    text-align: center;
   
}

.composin-container{
    position:relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: white;
    justify-content: center;
    align-items: center;
  
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
}

.sentence{
    border: 5px solid  #3ce1f7;
    width: 90%;
    height: 40%;
    border-radius: 50px;
    margin:10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;


    
}






.polish-version{
    border: 5px solid  #7d66e7;
    width: 90%;
    height: 30%;
    border-radius: 50px;
    margin:10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  

}
.butttons-container{
  
    width: 90%;
    height: 40%;
    margin:10px;

}

#check, #next, #clean{
    margin:20px;
    background-color: #84ebf8;
    border: 5px solid  #49e8fd;
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
}

.word-button{

    margin:20px;
    background-color: #aaabff;
    border: 5px solid  #745dfc;

    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;


}

#clean{
    background-color:  #86c6fd;
    border: 5px solid #575afd;
 


}

#info{
    font-size: 20px;
    font-weight: bold;
}

#h1{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

#info-modal{
    display: none;
    background-color: white;
    border: 7px solid  #575afd;
    position: absolute;
    height: 300px;
    width: 500px;
    top:30px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    font-size: 20px;
    font-weight: bold;

    
}

#info{
    font-size: 30px;
}

#back, #again{
    margin:20px;
    background-color:  #86c6fd;
    border: 5px solid #575afd;
    border-radius: 45px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}

.modal-container{
    width: 100%;
    background-color: transparent;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
}


@media(max-width:650px){
    #info-modal{
        width: 400px;
    }

}


@media(max-width:455px){

   .composin-container{
    height: 600px;;
   }

    h1{
        font-size: 20px;
    
    }
    .sentence{
        width: 100%;
        font-size: 15px;

    }

    .polish-version{
        width: 100%;
        height: 20%;
        font-size: 15px;
    }

    .butttons-container{
        width: 100%;
        font-size: 15px;
    }
    
    #info{
        font-size: 15px;
    }
    #info-modal{
        width: 300px;
    }

    #back, #again{
    height: 40px;
    width: 200px;
    font-size: 20px;

    }
}

